body {
  background-color: #fdffbb;
  font-size: 20px;
  font-family: Helvetica, Verdana, sans-serif;
  height: 1000px;
  overflow-x: hidden;
}

.container {
  zoom: 90%;
}

.header {
  background-color: #00203f;
  height: 120px;
  width: 100%;
  display: grid;
  top: 0;
  z-index: 10;
  box-shadow: 1px 5px 7px 1px #979797;
  position: fixed;
}

/*sizing and positioning of the logo in the navigation bar*/
.navlogo {
  height: 60px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 45px;
  grid-column: 1/2;
}

/*On hover,logo is turned black and white*/
.navlogo:hover {
  filter: grayscale(100%);
}

/*name in the navigation bar*/
.name {
  grid-column: 1/3;
  margin-top: 5px;
  text-decoration: none;
}

/*fonts for the name of the navigation bar*/
#name {
  font-family: "Contrail One", cursive;
  font-size: 15px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
  padding-left: 5px;
}

/*On hover, a gold-brown color is added*/
#name:hover {
  color: #b19f85;
}

/*fonts for the site links in the navigation bar*/
nav a {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 3px;
}

/*positioning of the links in the navigation bar*/
.navbar a {
  float: left;
  display: block;
  padding-right: 70px;
  padding-left: 70px;
  padding-top: 0px;
  padding-bottom: 20px;
  text-align: center;
  grid-column: 11/12;
}

.navbar {
  overflow: hidden;
}

/*On hover, a gold-brown color is added for the links */
.navbar a:hover {
  color: #b19f85;
}

/*positioning of the feedback button in the navigation bar*/
#feedback-btn {
  grid-column: 12/12;
  padding-top: 0px;
  padding-bottom: 0px;
}

/*styling the feedback button*/
header button {
  width: 120px;
  background-color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #222831;
  text-decoration: none;
  border: none;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}

/*On hover,gold- brown color is added*/
header button:hover {
  background-color: #b19f85;
  color: black;

  transition: all 0.3s ease 0s;
}
.active-page {
  border-bottom: 3px solid white;
}

.active-page:hover {
  border-bottom: 3px solid #b19f85;
  transition: all 0.3s ease-in-out 0s;
}
/*-----------------------main container----------------------------------*/
.container-body {
  display: block;
  margin-top: 150px;
  height: 1000px;
  margin-left: 40px;
  margin-right: 40px;
}
h1 {
  font-family: "Roboto", sans-serif;
  margin-left: 40px;
  margin-bottom: 10px;
}
.student-number {
  font-family: "Roboto", sans-serif;
  margin-left: 40px;
  font-size: 30px;
}
.image {
  width: 15%;
  border: solid 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-color: #00203f;
}
.student-details {
  font-family: "Roboto", sans-serif;
  margin-left: 40px;
  font-size: 30px;
}
.page-links {
  margin-left: 80px;
  font-size: 28px;
  font-family: "Roboto Slab", serif;
  color: #303030;
  text-decoration: none;
}
.page-link:link {
  text-decoration: none;
  color: #303030;
}
.page-link:hover {
  color: #b19f85;
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}
/*--------------------------------footer---------------------------------*/
.footer {
  background-color: #00203f;
  min-height: 200px;
  min-width: 105%;
  display: grid;
  box-shadow: 1px 5px 7px 1px #979797;
  margin-top: auto;
}

.footer-subscribe {
  grid-row: 1/4;
  grid-column: 2/4;
  margin-top: 30px;
  width: 70%;
  max-width: 450px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 30px;
  color: #ffffff;
}

#email-text {
  margin-top: 10px;
  width: 100%;
  background-color: transparent;
  border: 3px solid #ffffff;

  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
}

#email-text:focus {
  border: 3px solid #b19f85;
  outline: none;
  color: #b19f85;
}

#subscribeBtn {
  padding: 5px 8px;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 50%;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  color: #000000;
}

#subscribeBtn:hover {
  background-color: #b19f85;
  transition: all 0.3s ease 0s;
}

.footer-content {
  grid-row: 1/4;
  grid-column: 4/5;
  margin-top: 30px;
}

.footer-content > a {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.footer-content > a:hover {
  color: #b19f85;
  transition: all 0.3s ease 0s;
}

.footer-editor {
  grid-row: 1/4;
  grid-column: 5/6;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
}

.page-editor {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #ffffff;
}

.page-editor:hover {
  color: #b19f85;
  border-bottom: 2px solid #b19f85;
  transition: all 0.3s ease 0s;
}
input {
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
